@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {

    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

main {
    padding: 32px;;
}

h1::first-letter{
    font-size: 50px;
    color: red;
}

h1::first-line {
    color: aqua;
}

form::before {
    content: "Digite seus dados abaixo!";
    color: rgb(255, 0, 0);
}

.custom-input:hover {

    width: 300px;
    background-color: #f3f3f3
}

input:disabled {
    display: none;
}



/* 3 novos pseudos classes */
.custom-input:required {
    font-size: 12px;
    color: red;
}

button:after {
    content: "->"
}

main :only-child {
    color: blue;
}


.custom-input {

    width: 200px;
    border: 0;
    background-color: #dddddd;
    padding: 6px 12px;
    border-radius: 12px;
    transition: .5s;

}

.success-button {
    border: 0;
    color: white;
    padding: 8px 12px;
    background-color: #228b22;
    border-radius: 12px;
    transition: .1s;
}

.success-button:hover {

    background-color: rgb(113, 226, 101);
   border-radius: 32px;


}

