@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
	font-size:100%;
	color:#3a3a3a;
    font-family: 'Roboto', sans-serif;
}


.main-header {
    width: 100%;
    padding: 30px 450px;
    background-color: #aebabb52;    
}

.main-header nav {
    max-width: 1200px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto 0 115px;
}

.main-header a img {
    width: 90px;
    float: left;
    padding-right: 20px;
}

h1 {
    width: 400px;
    height: 10px;
    color: black; 
}

form {
        width: 460px;
        height: 570px;
        padding: 30px;
        margin:0 auto;
}

label {
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:20px;
	margin-top:2px;
	font-size:0.9em;
	color:#3a3a3a;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:213px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}


