* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

.caixa {

    width: 200px;
    height: 200px;
    background-color: silver;
    padding: 24px;
}

.caixa-interna {

    width: 100%;
    height: 100%;
    background-color: skyblue;
    
  }

  .caixa-interna h1 {

      text-align: center;
      margin: 30px auto;
      
  }

.caixa-1 {
    position: relative;
    top: 0;
    left: 0;
}

.caixa-2 {
    position: absolute;
    right: 0;
    top: 0;
   
}

.caixa-3 {
    position: fixed;
    left: 50%;
    top: 65%;
    
    

}



