@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height: 2000px;
}

.main-menu {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.297);
    position: fixed;
   
}



.main-menu ul {
    display: flex;
    gap: 42px;
    list-style: none;
 

}

.main-menu ul a{
    color: rgb(255, 255, 255, 0.5);
    font-size: 18px;
    text-decoration: none;

}

.main-menu ul a:hover {

    color: white;
}

.main-menu li {
    text-decoration: none;
    
}